@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

.contenedorPrincipal {
    background: url(https://getwallpapers.com/wallpaper/full/c/6/2/454366.jpg) no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.contenedorFormulario {
    background-color: rgba(0, 0, 0, 0.40);
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 20px;
    box-sizing: border-box;
}