@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

.custom-navbar {
    background-color: #cb8019 ;
}

.logout {
    background-color: #cb8019 ;
}

.links {
    font-family: 'Rubik', sans-serif;
}
  